! Source: https://github.com/morhetz/gruvbox-generalized
! -------------------------------------------------------------------
!! GLOBAL
! -------------------------------------------------------------------
*.foreground: #ebdbb2
*.color0:  #282828
*.color8:  #928374
*.color1:  #cc241d
*.color9:  #fb4934
*.color2:  #98971a
*.color10: #b8bb26
*.color3:  #d79921
*.color11: #fabd2f
*.color4:  #458588
*.color12: #83a598
*.color5:  #b16286
*.color13: #d3869b
*.color6:  #689d6a
*.color14: #8ec07c
*.color7:  #a89984
*.color15: #ebdbb2
!--------------------------------------------------------------------
!! URXVT 
!--------------------------------------------------------------------
URxvt.background: [75]#282828
URxvt.cursorColor:  #fce8c3
URxvt.pointerColor: #fce8c3
URxvt.depth: 32
URxvt.loginShell:   true
URxvt.scrollBar:    false
URxvt.saveLines:    65535
URxvt.cursorBlink:  true
URxvt.jumpScroll:   true
URxvt.font: xft:FantasqueSansMono  NerdFontMono:pixelsize=13:antialias=true:hinting=true:autohint=true
URxvt.termName: rxvt-unicode-256color

!--------------------------------------
!! DWM
!-------------------------------------
!dwm.normbgcolor:	#e5d4a0
!dwm.normbordercolor:	#454418
!dwm.normfgcolor:	#454418
!dwm.selfgcolor:		#050400 
!dwm.selbordercolor:	#f59419 
!dwm.selbgcolor:		#f59419
!-------------------------------------
!! POLYBAR
!-----------------------------------





polybar.background :  #75000000
polybar.background-alt :#75000000
 
polybar.foreground : #ffffff
polybar.foreground-alt:#0000ff

polybar.primary:#000000
polybar.secondary:#00ff00
polybar.tertiary:#0000ff
polybar.quaternary:#ffff00
polybar.quinary:00ffff
 
polybar.icon:#ffffff
polybar.alert:#ffffff
 
polybar.tag-focused-background:dd000000
polybar.tag-unfocused-background:#00ff00
polybar.tag-visible-background:#88000000
polybar.tag-urgent-background:ffffff





